@use "colors";

html {
  --mat-sidenav-content-background-color: #{colors.$body-bg} !important;
  --mat-button-toggle-selected-state-background-color: #{colors.$selected-color};
  --mat-button-toggle-selected-state-text-color: #{colors.$white};
}

.mat-mdc-raised-button {
  &.mat-primary {
    --mat-button-protected-container-color: #{colors.$blue} !important;
    --mat-button-protected-label-text-color: #{colors.$white} !important;
  }
  &.mat-success {
    --mat-button-protected-container-color: #{colors.$button-success-color} !important;
    --mat-button-protected-label-text-color: #{colors.$white};
  }
  &.mat-warn {
    --mat-button-protected-container-color: #{colors.$warning-color} !important;
    --mat-button-protected-label-text-color: #{colors.$white} !important;
  }
}

.mat-mdc-icon-button {
  &.mat-success {
    --mat-icon-button-icon-color: #{colors.$button-success-color} !important;
  }
  &.mat-accent {
    --mat-icon-button-icon-color: #{colors.$error-color} !important;
  }
}

.mat-mdc-button:not(:disabled) {
  &.mat-primary {
    --mat-button-text-label-text-color: #{colors.$blue} !important;
  }
  &.mat-success {
    --mat-button-text-label-text-color: #{colors.$button-success-color};
  }
}

.mat-mdc-option:hover:not(.mdc-list-item--disabled),
.mat-mdc-option:focus:not(.mdc-list-item--disabled),
.mat-mdc-option.mat-mdc-option-active,
.mat-mdc-option.mdc-list-item--selected:not(.mat-mdc-option-multiple):not(.mdc-list-item--disabled),
.mat-mdc-menu-item:hover:not([disabled]),
.mat-mdc-menu-item.cdk-program-focused:not([disabled]),
.mat-mdc-menu-item.cdk-keyboard-focused:not([disabled]),
.mat-mdc-menu-item-highlighted:not([disabled]) {
  background: colors.$hover-color;
}

.mat-primary .mat-mdc-option.mdc-list-item--selected:not(.mdc-list-item--disabled) .mdc-list-item__primary-text {
  color: var(--mat-theme-text-primary-on-background, rgba(0, 0, 0, 0.87));
}

.mat-icon.mat-success {
  color: colors.$success-color;
}

.mat-icon.mat-warning {
  color: colors.$warning-color;
}

.mat-button-with-icon {
  display: flex;
  justify-content: flex-start;
  .mdc-button__label {
    flex: auto;
  }
}

.mat-mdc-tooltip {
  font-size: 12px !important;
  max-width: 90vw !important;
  width: auto !important;
  white-space: pre-line !important;
  pointer-events: none;
}

.mat-mdc-menu-panel {
  min-width: auto !important;
  min-height: auto !important;
  max-width: 40vw !important;
  .mat-mdc-menu-item {
    white-space: pre-line;
    line-height: 22px;
    min-height: 22px;
    height: auto;
    &:hover:not([disabled]) {
      background: colors.$hover-color;
      color: colors.$black;
    }
  }
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow:
    0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14),
    0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.mat-without-hint {
  .mat-mdc-form-field-subscript-wrapper,
  .mat-mdc-form-field-bottom-align {
    display: none;
  }
}

.mat-small-button-icon {
  &.mat-mdc-icon-button {
    width: 24px;
    height: 24px;
    line-height: 20px;
    .mat-icon {
      line-height: 20px;
      height: 22px;
      width: 22px;
      font-size: 20px;
    }
  }
}

.button-font-size-lg {
  .mdc-button__label {
    font-size: 18px;
  }
}

html .mat-mdc-icon-button.mat-primary.selected-button {
  --mat-icon-button-icon-color: #3eb489;
}

html .mat-mdc-icon-button.unselected-button {
  --mat-icon-button-icon-color: #c6c6c6;
}

mat-card {
  padding: 10px !important;
  &.with-header-line {
    padding: 5px 0 !important;
    display: flex;
    flex-direction: column;
    .mat-mdc-card-header {
      align-items: center;
      padding: 0 10px 5px !important;
      border-bottom: 1px solid colors.$gray-200;
    }
    .mat-mdc-card-header-text {
      flex: auto;
    }
    .mat-mdc-card-subtitle {
      margin: 0 !important;
    }
    .mat-mdc-card-content {
      padding: 10px 10px 0 !important;
      flex: auto;
      display: flex;
      flex-direction: column;
    }
    &.flat-content {
      .mat-mdc-card-content {
        padding: 5px 0px 0 5px !important;
      }
    }
  }
  mat-card-header {
    padding: 0 !important;
    .mat-mdc-card-title {
      font-size: 16px;
      font-weight: bold;
    }
    .mat-mdc-card-header-text {
      margin: 0 !important;
    }
    &.with-buttons {
      display: flex;
      align-items: center;
      .mat-mdc-card-header-text {
        flex: auto;
        margin-right: 10px;
      }
      .mat-mdc-card-title {
        margin-bottom: 0;
      }
      .mat-mdc-icon-button {
        width: 22px;
        height: 22px;
        line-height: 22px;
        .mat-icon {
          width: 20px;
          height: 20px;
          font-size: 18px;
        }
      }
      .mat-mdc-raised-button {
        line-height: 30px;
      }
    }
  }
  mat-card-content {
    position: relative;
    padding: 0 !important;
  }
}

.mat-drawer-inner-container {
  display: flex;
  flex-direction: column;
}

.mat-button-toggle-button {
  height: 32px;
}

.mat-mdc-tab-body-wrapper {
  flex: auto;
  flex-direction: column;
}

.mat-mdc-tab-body {
  display: flex !important;
  flex-direction: column;
}

.mat-mdc-tab-body-content {
  flex: auto;
  display: flex;
  flex-direction: column;
}

.mat-mdc-optgroup-label {
  min-height: auto !important;
}
