@use "roboto-fontface/css/roboto/sass/roboto-fontface" with (
  $roboto-font-path: "roboto-fontface/fonts"
);
@use "material-icons/iconfont/material-icons.scss" with (
  $material-icons-font-path: "material-icons/iconfont/"
);
@use "colors";
@use "../node_modules/@jst/ui/styles";
@use "materail";
@use "helpers";
@use "elements";

html,
body {
  height: 100%;
}

body {
  --mat-optgroup-label-text-weight: 600;
  margin: 0;
  font-family:
    "Inter",
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Helvetica,
    Arial,
    sans-serif,
    "Apple Color Emoji",
    "Segoe UI Emoji",
    "Segoe UI Symbol";
  display: flex;
  flex-direction: column;
  height: auto;
  min-height: 100%;
  background-color: colors.$body-bg;
  color: colors.$black;
}
